body
{
 
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/*The wrapper of the loader component, which will 
center it on the screen.*/
#loadingWrapper {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

